body {
    background: #f9f9f9;

}

.wrapper-yarns {
    margin-top: 30px;
}

.wrapper-yarns .yarn{
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 4px;
    background: #fff;
}

.wrapper-yarns .yarn .name{
    font-weight: bold;
}

.wrapper-yarns .yarn .info {
    font-size: 12px;
    color: #aaa;
}